# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\jalir\Documents\Github\DS-Unit-3-Sprint-1-Software-Engineering\module2-oop-code-style-and-reviews\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
